<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>ASYNC SUPPORT </title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <header>
        <nav>
            <ul>
                <li>
                    Home
                </li>
                <li>
                    Start
                </li>
            </ul>
        </nav>
    </header>
    <section id="conteudo">
        em progresso
    </section>

    <footer>
        &copy; desenvolvido pela ASYNC SUPPORT
    </footer>
</body>
</html>