<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ASYNC SUPPORT</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>

<nav id="navbar">
    <div class="navbar-brand">
        <a href="#">
            <span>ASYNC</span><span class="logo-text">SUPPORT</span>
        </a>
    </div>
    <ul class="navbar-menu">
        <li><a href="#">Início</a></li>
        <li><a href="#">Serviços</a></li>
        <li><a href="#">Projetos</a></li>
        <li><a href="#">Sobre</a></li>
        <li><a href="#">Contato</a></li>
    </ul>
    <div class="navbar-toggle">
        <div class="bar"></div>
        <div class="bar"></div>
        <div class="bar"></div>
    </div>
</nav>

<main>
    <section class="hero">
        <h1>Técnologia ao seu alcance</h1>
        <p> empresa de técnologia e desenvolvimento de softwares avançados empresariais</p>
    </section>
    <section class="content">
        <p> é hora de pensar no futuro e nas novas técnologias para um bom desenvolvimento e produtividade</p>
        <p> pense na ASYNC e se conecte ao mundo que você jamais viu!</p>
    </section>
</main>
<footer class="simple-footer">
    <div class="footer-content">
        <p> <span id="currentYear"></span> &copy; async support todos direitos reservados.</p>
        <p> desenvolvido por Sérgio Marques </p>
    </div>
</footer>
<script src="scripts/home-page.js"></script>
</body>
</html>